@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400&display=swap");

:root {
  --sm: 375px;
  --md: 640px;
  --lg: 960px;
  --xl: 1440px;
  --xxl: 1920px;
  --xxxl: 2048px;
  --primary-text-color: rgb(53, 53, 53);
  --secondary-text-color: rgb(95, 93, 93);
  --danger-text-color: red;
  --btn-color-dark: rgb(22, 22, 22);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body,
html {
  font-family: "Open Sans", sans-serif;
  font-size: 10px;
  scroll-behavior: smooth;
}

/* header */
.heading-spacing {
  margin-top: 6rem;
  margin-bottom: 3rem;
}

.header {
  margin: 0 auto;
  width: 100vw;
  /* width: 2048px; */
  background-color: rgb(84, 93, 99);
  color: rgb(255, 255, 255);
  text-align: center;
}
.header-container {
  margin: 0 auto;
  padding: 3rem 0;
  width: 50rem;
}
.header-container h2 {
  font-size: 2.5rem;

  letter-spacing: 0.1rem;
  margin-bottom: 1rem;
}
.header-container p {
  font-size: 1.2rem;
  margin-top: 1rem;
  margin-bottom: 1rem;
  letter-spacing: 0.1rem;
  line-height: 2rem;
  padding: 0 3rem;
}
.header-container__links {
  list-style: none;
  margin-top: 3rem;
}
.header-container__links a {
  color: white;
  font-size: 1.8rem;
  margin: 2rem 1.6rem;
}
.header-container__links a:hover {
  color: #e6e6e6;
}

/* hamburger menu */

.hamburger-icon__open,
.hamburger-icon__close {
  display: inline-block;
  padding: 10px;
  cursor: pointer;
}

.d-none {
  display: none;
}
.d-block {
  display: block;
}

.hamburger-menu {
  width: 100%;
  height: 100%;
  background-color: rgb(84, 93, 99);
  color: white;
  list-style: none;
  z-index: 1001;
  margin-bottom: 1rem;
}
.hamburger-menu ul {
  width: 100%;
}
.hamburger-menu li {
  border-bottom: 1px solid black;
  height: 50px;
  text-align: center;
  font-size: 1.6rem;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
}
.hamburger-menu li a {
  text-decoration: none;
  color: white;
}
.hamburger-menu li:hover {
  background-color: rgb(65, 71, 75);
}

/* navbar */
.navbar {
  position: sticky;
  top: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  z-index: 1000;
  background: rgb(255, 255, 255);
}

.navbar-brand__logo {
  height: 12rem;
  margin-right: 4rem;
}
.navbar-brand__menu {
  display: flex;
  justify-content: left;
  align-items: center;
  flex-grow: 1;
  font-size: 2rem;
  list-style: none;
}
.navbar-brand__menu li {
  padding-right: 2rem;
}

.navbar-brand__menu a {
  text-decoration: none;
  color: var(--primary-text-color);
}

.navbar-searchField input,
#site-search-mobile {
  font-family: "FontAwesome", sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 1.8rem;
  width: 50rem;
  border-radius: 7px;
  background-color: rgb(245, 246, 244);
  padding: 10px 10px 10px 15px;
}

.navbar-searchField input:focus {
  outline: none;
}

.navbar-brand__menu a:hover {
  color: var(--primary-text-color);
  border-bottom: 1px solid var(--primary-text-color);
}

.navbar-brand__icons {
  display: flex;
  justify-self: center;
  align-items: center;
}
.navbar-brand__icons li {
  padding-right: 2rem;
  list-style: none;
}
.navbar-brand__icons a {
  text-decoration: none;
  margin-left: 2rem;
  color: var(--primary-text-color);
}
.navbar-brand__icons a:hover {
  color: var(--secondary-text-color);
}

/* hamburger menu */
.hamburger-icon {
  display: none;
}
.hamburger-icon__close {
  padding: 3rem;
}

#site-search-mobile {
  display: none;
}
/* submenu */

.submenu {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
  font-size: 1.5rem;
  position: relative;

  width: 100%;
}
.submenu li {
  padding: 1rem 1rem;
}
.submenu a {
  text-decoration: none;
  color: var(--primary-text-color);
}
.submenu a:hover,
.submenu a.red {
  color: var(--danger-text-color);
}
.submenu li {
  white-space: nowrap;
  /* flex: 1 1 0; */
}

/* breadcrumbs */
.breadcrumbs {
  width: 100%;
  display: flex;
  justify-content: flex-start;
  flex-wrap: wrap;
  font-size: 1.4rem;
  text-transform: uppercase;
  padding: 2rem;
}
.breadcrumbs li {
  padding: 0.5rem;
}

.breadcrumbs li:not(:last-child) {
  color: var(--primary-text-color);
}
.breadcrumbs li:last-child {
  color: silver;
}
.breadcrumbs-arrow {
  padding: 0 10px;
}
.breadcrumbs-arrow.last {
  color: var(--secondary-text-color);
}
.breadcrumbs a {
  text-decoration: none;
  color: inherit;
}
