@media screen and (max-width: 2048px) {
  body {
    padding: 0 40px;
  }
  .container {
    width: 100%;
  }
  .container-wide {
    width: 100%;
  }
  .header {
    width: 100vw;
  }
  .submenu {
    flex-wrap: wrap;
    padding: 0 40px;
    padding-bottom: 1rem;
  }
  .submenu li {
    flex-wrap: wrap;
    display: flex;
    white-space: nowrap;
  }
  .breadcrumbs {
    flex-wrap: wrap;
    padding-bottom: 2rem;
  }

  .section-footer {
    padding: 0 60px;
  }
  .section-article {
    width: 100%;
    display: flex;
  }
}

@media screen and (max-width: 1440px) {
  .header {
    width: 100%;
    margin: 0 auto;
  }

  .submenu {
    width: 100%;
  }
  .showcase {
    width: 100%;
  }

  .navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
  }
  .navbar-brand__menu li {
    font-size: 1.6rem;
  }
  .navbar-searchField {
    flex-grow: 1;
  }
  #site-search {
    width: 100%;
  }
  .navbar-brand__icons {
    display: none;
  }
  #site-search-mobile {
    display: none;
  }
  .slide-1,
  .slide-2,
  .slide-3,
  .slide-4,
  .slide-5,
  .slide-6,
  .slide-7,
  .slide-8 {
    width: 300px;
    height: 230px;
  }
  .section-images ul {
    flex-wrap: wrap;
    justify-content: center;
  }

  .section-img {
    width: 300px;
    height: 230px;
  }
  .newsletter-form {
    flex-direction: column;
  }
  .newsletter-form__inner {
    flex-direction: column;
    text-align: center;
  }
  .newsletter-form__inner form {
    width: 100%;
    flex-direction: column;
  }
  .newsletter-input {
    margin: 20px 0;
    width: 60%;
  }
  .newsletter-form p {
    display: none;
  }
  .newsletter-form p.display-mobile {
    display: block;
  }
  .section-footer__table table {
    width: 100%;
    display: none;
  }
  .accordion-wrapper {
    display: block;
  }
  .section-footer__table tr th {
    display: flex;

    justify-content: space-between;
    border-bottom: 1px solid var(--primary-text-color);
    font-size: 2rem;
  }
  .section-footer__table tr th:after {
    font-family: FontAwesome;
    content: "\f078";
    font-size: 20px;
    text-align: right;
  }
  .section-footer__table tr td {
    display: none;
  }

  .display-mobile {
    display: block;
  }
  .trustpilot-wrapper__img {
    margin-top: 5rem;
    margin-bottom: 5rem;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .trustpilot-img {
    margin: 0 auto;
    width: 200px;
  }
  .section-footer__socialMedia {
    margin-bottom: 3rem;
  }
  .section-footer__socialMedia li:last-child {
    margin-right: auto;
  }
  .section-footer__socialMedia ul.border-bottom {
    border: none;
  }
  .section-footer footer {
    display: none;
  }
}

@media screen and (max-width: 959px) {
  .hamburger-icon__open {
    padding-left: 3rem;
  }
  .navbar-brand {
    margin: 0 auto;
  }
  .navbar-brand__logo {
    height: 8rem;
    margin: 0 auto;
  }
  .navbar-brand__menu {
    display: flex;
    width: 100%;
    margin: 0 auto;
    padding-left: 1rem;
  }
  .navbar-brand__menu li {
    /* flex-grow: 1; */
    margin-bottom: 1rem;
  }

  .submenu {
    display: none;
  }
  .breadcrumbs {
    display: none;
  }

  .showcase-description {
    flex-direction: column;
  }
  .showcase-description h1,
  .showcase-description p {
    width: 100%;
  }
  .showcase {
    min-height: unset;
  }

  .section-cards {
    height: 40rem;
  }

  .card {
    height: 35rem;
  }

  .card-title {
    position: relative;
    top: -1rem;
    width: 50%;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
    font-size: 1.8rem;
  }
  .slide-1,
  .slide-2,
  .slide-3,
  .slide-4 {
    width: 220px;
    height: 165px;
  }

  .section-article__description {
    width: 50%;
  }
  .section-article__description .btn {
    width: 100%;
    text-align: center;
  }
  .section-article__imgRounded {
    width: 80%;
    height: 200px;
    border-top-right-radius: 50% 50%;
    border-bottom-right-radius: 60px 50px;
    border-bottom-left-radius: 200px 170px;
    margin-top: 4rem;
  }

  .section-images ul {
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
}

@media screen and (max-width: 640px) {
  .navbar-brand__logo {
    margin-left: 4rem;
  }
  .breadcrumbs {
    display: none;
  }
  .showcase-description {
    padding: 25px 40px;
  }
  .showcase-description p {
    text-align: left;
  }
  .section-article__top p {
    padding: 0 20px;
  }
  .flex-column {
    flex-direction: column;
  }
  .section-article__img,
  .section-article__description {
    width: 100%;
  }
  .section-article__description .btn {
    width: 100%;
  }
}
.section-article {
  width: 100%;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}
/* .section-images ul {
  flex-direction: column;
  align-items: center;
  height: auto;
} */

/* .section-images ul li {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
} */
.newsletter-input {
  width: 100%;
}
.section-footer__table tr th {
  font-size: 1.4rem;
  line-height: 1rem;
}
.section-footer {
  padding: 0 10px;
}
.header-container {
  width: 100%;
}

@media screen and (max-width: 375px) {
  .header-container h2 {
    font-size: 1.5rem;
    margin-bottom: 0.3rem;
  }

  .navbar {
    height: 80px;
  }
  .navbar-brand__logo {
    margin-left: 0;
    height: 80px;
  }
  .navbar-brand__icons {
    display: none;
  }
  .navbar-brand {
    margin: 0 auto;
  }
  .navbar-brand__logo {
    margin-left: 0;
  }
  .showcase-description h1 {
    font-size: 3rem;
  }
  .lead {
    font-size: 1rem;
  }
  #first-article-item {
    flex-direction: column;
  }
  .section-article__description {
    padding: 1rem;
    width: 100%;
    text-align: center;
  }

  .section-images h2 {
    font-size: 2rem;
    margin-bottom: 2rem;
    margin-top: 2rem;
  }

  .section-article__imgRounded {
    width: 100%;
    height: 150px;
    border-top-right-radius: 50% 50%;
    border-bottom-right-radius: 30px 2px;
    border-bottom-left-radius: 100px 85px;
  }

  .section-images ul li {
    width: 100%;
  }

  .newsletter-form__inner h2 {
    font-size: 2rem;
  }
}
