/* footer section */
.section-footer {
  width: 100%;
  background: #fdf8f8;
}

.section-footer__table th {
  padding: 4rem 0;
  text-align: left;
  font-size: 1.2rem;
  color: var(--secondary-text-color);
}
.section-footer__table td {
  padding: 0.5rem 0;
  padding-right: 3rem;
  font-size: 12px;
  color: var(--secondary-text-color);
}
.section-footer__table a {
  text-decoration: none;
  color: var(--secondary-text-color);
}
.section-footer__table a:hover {
  text-decoration: underline;
  color: var(--primary-text-color);
}

.accordion-wrapper {
  display: none;
}
.accordion-wrapper .accordion-content {
  max-height: 0;
  overflow: hidden;
  border-bottom: 1px solid var(--primary-text-color);
  transition: max-height 0.3s ease-in-out, border-bottom 0.2s ease-in-out;
}
.accordion--closed .accordion-content {
  max-height: 0 !important;
  border-bottom: 0px solid var(--primary-text-color);
  /* padding: 2rem 0 2rem; */
}
.accordion-content li {
  padding: 0.5rem 0;
  padding-right: 3rem;
  font-size: 12px;
  color: var(--secondary-text-color);
}
.accordion-chevron {
  padding-right: 2rem;
  cursor: pointer;
}
.accordion-chevron .fas {
  transform: rotateZ(0);
  transition: transform 0.3s ease-out;
}
.accordion--closed .accordion-chevron .fas {
  transform: rotateZ(180deg);
}
.accordion-header {
  display: flex;
  padding: 4rem 0;
  text-align: left;
  font-size: 1.4rem;
  line-height: 1rem;
  color: var(--secondary-text-color);
  border-bottom: 1px solid var(--primary-text-color);
}
.accordion-title {
  flex: 1 1 0;
}
.accordion-content {
  /* padding: 0; */
}
/* section-footer social media */

.section-footer__socialMedia {
  width: 100%;
  padding-right: 3rem;
}
.section-footer__socialMedia i {
  color: var(--primary-text-color);
}
.section-footer__socialMedia i:hover {
  color: var(--secondary-text-color);
}
.section-footer__socialMedia li:first-child {
  margin-left: auto;
}
.section-footer__socialMedia li:not(:last-child) {
  padding-right: 3rem;
}
