/* section card */

.section-cards {
  height: 60rem;
  margin: 2rem 1rem 2rem;
  padding-left: 1rem;
  padding-right: 1rem;
  display: flex;
  flex-direction: row;
  position: relative;
  width: 100%;
  overflow: hidden;
}
.card-container {
  margin: 0 auto;
  display: flex;
  width: 100%;
  align-items: center;
}

.card-body {
  position: relative;
  padding-top: 2rem;
  height: calc(100% - 55rem);
}
.card-title {
  font-size: 2.4rem;
}
.card-text {
  font-size: 1.4rem;
}
.card-price {
  position: absolute;
  right: 1rem;
  top: 1rem;
  font-size: 1.8rem;
}

#sliderToLeft .card-content {
  width: 33%;
  position: relative;
  padding-right: 20px;
  animation: 9s sliderLeft infinite;
}
/*
#sliderToRight .card-content {
  width: 33%;
  position: relative;
  margin-right: 20px;
  animation: 9s sliderRight infinite;
}
@keyframes sliderLeft {
  from {
    right: 0px;
  }
  to {
    right: 350px;
  }
}

@keyframes sliderRight {
  from {
    left: 0px;
  }
  to {
    left: 300px;
  }
} */
.card-container__inner {
  display: flex;
  transition: transform 0.3s ease-in-out;
}
.slide-1 {
  background-image: url("../assests/sofa1.jpg");
  width: 570px;
  height: 435px;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.slide-2 {
  background-image: url("../assests/sofa2.jpg");
  width: 570px;
  height: 435px;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.slide-3 {
  background-image: url("../assests/sofa3.jpg");
  width: 570px;
  height: 435px;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.slide-4 {
  background-image: url("../assests/sofa4.jpg");
  width: 570px;
  height: 435px;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.card-fade-right {
  position: absolute;
  top: 0;
  right: 0;
  z-index: 100;
  background-image: linear-gradient(
    to right,
    rgba(255, 255, 255, 0),
    rgba(255, 255, 255, 1) 70%
  );
  width: 5%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-end;
}

.card-fade-left {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 100;
  background-image: linear-gradient(
    to right,
    rgba(255, 255, 255, 1),
    rgba(255, 255, 255, 0) 70%
  );
  width: 5%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
}

.slide-5 {
  background-image: url("../assests/chair1.jpg");
  width: 570px;
  height: 435px;
  background-size: 570px;
  background-position: center;
  background-repeat: no-repeat;
}

.slide-6 {
  background-image: url("../assests/chair2.jpg");
  width: 570px;
  height: 435px;
  background-size: 570px;
  background-position: center;
  background-repeat: no-repeat;
}

.slide-7 {
  background-image: url("../assests/chair3.jpg");
  width: 570px;
  height: 435px;
  background-size: 570px;
  background-position: center;
  background-repeat: no-repeat;
}

.slide-8 {
  background-image: url("../assests/chair4.jpg");
  width: 570px;
  height: 435px;
  background-size: 100%;
  background-position: center;
  background-repeat: no-repeat;
}

/* btn arrows */
.btn-arrow {
  font-size: 1.8rem;
  border: none;
  cursor: pointer;
  padding: 2rem;
  background-color: inherit;
  color: var(--btn-color-dark);
  border-radius: 50%;
  transition: all 0.6s;
  z-index: 100;
}
.btn-arrow:hover {
  transform: scale(1.5);
}
