/*main showcase  */

.showcase {
  background-color: rgb(248, 241, 231);
  min-height: 70rem;
  padding-left: 1rem;
  padding-right: 1rem;
  width: 100%;
}

.showcase-description {
  display: flex;
  justify-content: center;
  align-items: center;
}
.showcase-description h1 {
  width: 50%;
  font-size: 5rem;
  text-align: center;
  color: var(--primary-text-color);
}
.showcase-description p {
  width: 50%;
  font-size: 2rem;
  text-align: center;
  padding: 2rem;
  color: var(--secondary-text-color);
}
