/* section images */
.section-images {
  width: 100%;
  height: 100%;
  padding-left: 1rem;
  padding-right: 1rem;
}

.section-images h2 {
  font-size: 3.5rem;
}

.section-images ul {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
}
.section-images ul li {
  text-align: center;
  /* width: 33%; */
  margin-right: 10px;
}

.section-img {
  width: 570px;
  height: 435px;
  margin-bottom: 1rem;
  background-repeat: no-repeat;
  background-position: center;
  background-size: 100%;
  transition: background-size 0.3s ease-in-out;
}
.section-img:hover {
  background-size: 120%;
}

.section-images > p,
.section-images > p > a {
  font-size: 1.5rem;
}
.section-images a {
  font-size: 14px;
  text-decoration: none;
  color: var(--primary-text-color);
}
.section-images a:hover {
  text-decoration: underline;
}
