/* section article */

.section-article {
  background: inherit;
  display: flex;
  padding-left: 1rem;
  padding-right: 1rem;

  flex-wrap: wrap;
}
.section-article__top {
  height: 20rem;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: 0 auto;
}
.section-article__top h2 {
  margin-bottom: 2rem;
  color: var(--primary-text-color);
}

.section-article__img {
  width: 50%;
  text-align: center;
}

.section-article__description {
  width: 50%;
  padding: 5rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.section-article__description p {
  margin-bottom: 1rem;
  padding-right: 3rem;
}
.section-article__description a {
  text-decoration: none;
  font-size: 1.5rem;
  color: var(--secondary-text-color);
}
.section-article__imgRounded {
  width: 50%;
  border-top-right-radius: 50% 50%;
  border-bottom-right-radius: 120px 100px;
  border-bottom-left-radius: 400px 300px;
}
