/* newsletter form */
.newsletter-form {
  width: 100%;
  background-color: rgb(231, 231, 231);
  padding: 2rem;
}
.newsletter-form .btn {
  margin-left: 1rem;
}
.newsletter-input {
  line-height: 3.8rem;
  text-align: center;
  font-size: 1.6rem;
  background: transparent;
  border: 2px solid black;
  flex-grow: 1;
}
.newsletter-input:focus {
  outline: none;
}

.newsletter-form__inner > *:not(.filler) {
  flex: 1 1 0;
}
