.container {
  width: 1920px;
  margin: 0 auto;
}
.container-wide {
  margin: 0 auto;
  width: 1980px;
}
ul {
  list-style: none;
}
h1,
h2 {
  font-weight: 700;
  font-size: 2.8rem;
}
img {
  width: 100%;
}

.mt {
  margin-top: 5rem;
}
.mb {
  margin-bottom: 5rem;
}
.ml-auto {
  margin-left: auto;
}
.pr {
  padding-right: 4rem;
}
.pl {
  padding-left: 2rem;
}
.pt {
  padding-top: 3rem;
}
.pb {
  padding-bottom: 3rem;
}
.p-1rem {
  padding: 1rem;
}
.pb-7rem {
  padding-bottom: 7rem;
}
.lead {
  font-size: 1.5rem;
  color: var(--secondary-text-color);
}
.left-15 {
  margin-left: -15%;
}

.red {
  color: var(--danger-text-color);
}
.line-height24 {
  line-height: 2.4rem;
}

.btn {
  padding: 1rem 2rem;

  height: 60px;
  background: var(--btn-color-dark);
  color: #fff;
  display: block;
  cursor: pointer;
  border-radius: 5px;
  font-size: 1.8rem;
  position: relative;
  overflow: hidden;
}

.width-60 {
  width: 60px;
}
.width-160 {
  width: 160px;
}
.width-100 {
  width: 100%;
}
.width-200 {
  width: 200px;
}
.width-400 {
  width: 400px;
}
.card-spacing {
  padding: 0 2rem;
}

.text-align-center {
  text-align: center;
}

.border {
  width: 150rem;
  margin: 0 auto;
  border: 1px solid #e6e6e6;
}
.border-bottom {
  border-bottom: 1px solid var(--primary-text-color);
}
.d-flex {
  display: flex;
  justify-content: center;
  align-items: center;
}
.display-mobile {
  display: none;
}
